#input-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(-1, 1);
}

#buffer-canvas {
  display: none;
}

#initial-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  background-image: url('../assets/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

.origin-container {
  margin-top: 30px;
  z-index: 10;
}

.changed-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.button-container {
  padding-top: 10px;
}

.symbol-image {
  position: absolute;
  top: 70px;
  left: 75px;
  width: 150px;
  z-index: 0;
}

#origin-canvas {
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #000000;
}

#changed-canvas {
  width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  background-color: #32a1ce;
  z-index: 10;
}

.button-default {
  border: 0px;
  color: #ffffff;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-default:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.35);
}

.button-start {
  background-color: #32a1ce;
}

.button-end {
  background-color: #e12c29;
}
