<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/goodganglabs.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOOD GANG LABS 😎</title>

    <link href="/css/tag.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <script src="/javascript/index.js"></script>
    <script src="/javascript/socket.js"></script>

    <script
      src="https://cdn.socket.io/4.5.4/socket.io.min.js"
      integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <video id="input-video"></video>
      <div class="side-bar">
        <img class="symbol-image" src="./assets/symbol.png" />
        <div class="origin-container">
          <canvas id="origin-canvas"></canvas>
          <div class="button-container">
            <button class="button-default button-start" onclick="loadVideo()">Start</button>
            <button class="button-default button-end" onclick="end()">End</button>
          </div>
        </div>
      </div>
      <div class="changed-container">
        <canvas id="changed-canvas" width="1280px" height="720px"></canvas>
      </div>
    </div>
  </body>
</html>
