<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/goodganglabs.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOOD GANG LABS 😎</title>

    <link href="/css/tag.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <script src="/javascript/index.js"></script>
  </head>
  <body>
    <div class="container">
      <video autoplay="true" id="mediaPipeVideo"></video>
      <video autoplay="true" id="originalVideo"></video>
    </div>
    <footer>
      <div class="footer-container">
        <button class="button-default-style" id="button-start" onclick="start()">Start</button>
        <button class="button-default-style" id="button-end" onclick="end()">End</button>
      </div>
    </footer>
  </body>
</html>
